* {
    margin: 0;
    padding: 0;
 
}

nav { padding: 10px 0 10px 0;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 10px;
     margin-right: 10px;
     background-color: rgb(145, 207, 96);


}

body > nav{
    font-family: Roboto, 'sans-serif';
    background-image: url(../assets/img/GettyImages-SdneyOpera.jpg);
    background-color: rgb(145, 207, 96);
    background-blend-mode: lighten;
    background-size: cover;

}

 
footer {
    
    background-color:rgb(145, 207, 96) }



