* {
    margin: 0;
    padding: 0;
 
}

nav { padding: 10px 0 10px 0;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 10px;
     margin-right: 10px;
     background-color: green;


}

body{
    font-family: Roboto, 'sans-serif';
    background-image: url(https://media.architecturaldigest.com/photos/59a838a9a8a79c392f89eba2/master/w_1600%2Cc_limit/GettyImages-481686221.jpg);
    background-color: green;
    background-blend-mode: lighten;

}
    b
    
   

    }


footer { background-color: green}

}


